﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_CategoryPartial")
    </div>
    <div class="col-md-8">

    </div>
</div>

@section Scripts {

}